{{ if .Site.Params.amazon_affiliate }}
    <div id="amzn-assoc-ad-cc22e468-e7ae-49ed-829b-801ad42bf7be"></div>
    <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=cc22e468-e7ae-49ed-829b-801ad42bf7be"></script>
    <div class="ads">
        {{ if .Site.IsServer }}
            <div class="fakeAds jumbotron">Fake Ads Banner</div>
        {{ else }}
            <div class="desktopBanner">
                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=29&p=13&l=ez&f=ifr&linkID=a71b03f072187eb4a2b6dae4dffffb5f&t=allyouneedt04-21&tracking_id=allyouneedt04-21" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            </div>
            <div class="mobileBanner">
                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=29&p=42&l=ez&f=ifr&linkID=ee890443a272fe5caee3fd8d6b35511f&t=allyouneedt04-21&tracking_id=allyouneedt04-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            </div>
        {{ end }}
    </div>
{{ end }}