<footer>
  <div id="footer">
    <div class="container">
      <div class="text-muted">
        {{ partial "social.html" . }}
        {{ partial "contact/modalContact.html" . }}
        {{ partial "contact/alertContact.html" . }}
        <p>&copy; All rights reserved. Powered by <a href="{{ .Site.Params.Author1.Instagram }}"> {{ .Site.Params.Author1.name }} </a> 
        and <a href="{{ .Site.Params.Author2.Instagram }}"> {{ .Site.Params.Author2.name }} </a> with ♥ </p>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</footer>

{{ partial "js" . }}
