{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-rounded" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image" width="120px">
        </div>
        <div class="homepage">
          {{.Content}}
        </div>
        {{ partial "social.html" . }}
        {{ partial "contact/modalContact.html" . }}
        {{ partial "contact/alertContact.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
